.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bg{
  background-color: black;
}
.card{
  background-color: #343A40;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.section-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchInput{
  height: 40px;
  width: 500px;
  outline: none;
  
}
.para{
  color: #ffffff;
  margin: 0;
}
.section-2{
  display: flex;
  justify-content: center;
}

.degreeParams{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 170px;
  font-family: 'Roboto';
  border-radius: 5px;
  color: #343A40;
  font-size: 18px;
}
.degreeBtn{
  background-color: transparent;
  border: none;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
